* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}

.App {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  background: #e3e6e6;

  .slideshow {
    width: 100vw;
    height: fit-content;

    display: flex;
    justify-content: center;

    img {
      cursor: pointer;
      width: 79%;
    }
    .button-container {
      position: absolute;
      width: 77%;
      top: 150px;
      display: flex;
      justify-content: space-between;
    }

    button {
      width: 30px;
      height: 150px;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}
