* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;

  scroll-behavior: smooth;
}
html {
  background: #e3e6e6;
}
.App {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;

  .slideshow {
    position: relative;
    width: 100vw;
    height: fit-content;

    display: flex;
    justify-content: center;
    .slideshow-element {
      display: none;
      cursor: pointer;
      width: 1500px;
    }

    .button-container {
      position: absolute;
      width: 77%;
      top: 50px;
      display: flex;
      justify-content: space-between;
    }

    button {
      width: 30px;
      height: 150px;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
  .body {
    width: 100%;
    display: flex;
    justify-content: center;

    position: relative;
    top: -350px;

    a {
      display: block;
      color: dodgerblue;
      text-decoration: none;

      margin: 30px 0 10px 0;
      font-size: 13px;
      padding: auto;
    }
    a:hover {
      color: orange;
      text-decoration: underline;
    }
    img {
      width: 100%;
    }

    h3 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .top-container {
      margin-left: 15px;
      width: 1500px;

      display: grid;
      grid-template-columns: 23% 23% 23% 23%;
      column-gap: 20px;
      row-gap: 20px;

      align-items: center;
      justify-content: center;
      .gaming-accessories {
        background-color: white;
        padding: 20px 20px 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 310px;
        height: 330px;

        .gaming-accessories-container {
          display: grid;
          grid-template-columns: 50% 50%;

          font-size: 13px;
          cursor: pointer;

          div {
            margin: 5px;
          }
        }
      }
      .deals-and-promotions {
        background-color: white;
        padding: 20px 20px 0 20px;
        width: 310px;
        height: 330px;

        img {
          width: 94%;
        }
      }
      .sign-in-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 350px;
        height: 350px;
        img {
          width: 75%;
        }

        .sign-in-section {
          background-color: white;
          height: 110px;
          width: 100%;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          button {
            width: 90%;
            height: 30px;

            background: #ffd814;
            border: none;
            border-radius: 5px;

            cursor: pointer;
          }
          button:hover {
            background-color: rgb(238, 201, 18);
          }
        }
      }
      .categories {
        height: 330px;
        width: 310px;

        div {
          text-align: center;
          font-size: 12px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
        }
        img {
          width: 70%;
        }
      }
    }
  }
}
